body {
  background-color: #eee;
  color: #0e0e0e;
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 900px;
}

.video-wrapper {
  position: relative;
}

.video-wrapper::before{
  content: "";
  display: inline-block;
  padding-top: 56.25%;
}
.video-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.citation {
  background-color: #e1e1e163;
  padding-left: 3px;
  padding-top: 3px;
}
