name: test_ubuntu

on:
  push:
    branches:
      - dev
    paths:
      - 'mapf/**'
      - 'tests/**'
      - 'app.cpp'

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: build
        run: |
          mkdir build
          cd build
          cmake ..
          make

      - name: test
        working-directory: build
        run: ./test

      - name: run-app
        working-directory: build
        run: ./app -i ../instances/sample.txt -s PIBT -o result.txt -v
