name: test_ubuntu

on:
  push:
    branches:
      - dev
      - public
    paths:
      - 'mapf/**'
      - 'tests/**'
      - 'app.cpp'
      - '.github/workflows/test-ubuntu.yml'

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false

      - name: clone-google-tests
        run: git clone https://github.com/google/googletest.git third_party/googletest

      - name: build
        run: |
          mkdir build
          cd build
          cmake ..
          make

      - name: test
        working-directory: build
        run: ./test

      - name: run-app
        working-directory: build
        run: ./app -i ../instances/sample.txt -s PIBT -o result.txt -v
